<div class="container-fluid  text-white py-5 px-0">
    <div class="row justify-content-around">
        <div class="col-md-3">
            <h2 class="font-bold">Support Hotline</h2>
            <p>Call to buy: <a href="tel:18002097">1800.2097</a> (7:30 AM - 10:00 PM)</p>
            <p>Call for complaints: <a href="tel:18002063">1800.2063</a> (8:00 AM - 9:30 PM)</p>
            <p>Call for warranty: <a href="tel:18002064">1800.2064</a> (8:00 AM - 9:00 PM)</p>
            <p>Call for assistance: <a href="tel:18002064">1800.2064</a> (8:00 AM - 9:00 PM)</p>
        </div>
        <div class="col-md-3">
            <h2>Information and Policies</h2>    
            <p>Buy with online installment</p>
            <p>Delivery policy</p>
            <p>Warranty information</p>
            <p>Electronic invoice lookup</p>
        </div>
        <div class="col-md-3">
            <h2>Other Services and Information</h2>
            <p>Business-to-business customers (B2B)</p>
            <p>Payment benefits</p>
            <p>Warranty policy</p>
            <p>Operating regulations</p>
        </div>
        <div class="col-md-3">
            <h2>Connect with Tech Store</h2>
            <div class="d-flex justify-content-start">
                <a href="https://www.facebook.com/phamhoaiv" class="text-white me-3"><i class="fab fa-facebook-f fa-2x"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-tiktok fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter fa-2x" style="color: #55acee;"></i></a>
            </div>
            <div>
                <p>Linh Trung Ward, Thu Duc City, Ho Chi Minh City.</p>
                <p>Phone: <a href="tel:02833355555">(028) 333 55555</a></p>
                <p>Email: <a href="mailto:techstore@gmail.com">techstoregmail.com</a></p>
            </div>
        </div>
        
    </div>

</div>
