<app-header></app-header>
<div class="container">

    <form [formGroup]="orderForm"> <!-- Thêm form và gán formGroup -->   
    <div class="row">
        <div class="col-md-5">
            <h2 class="product-header">Recipient Information</h2>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full name</label>
                    <input type="text" 
                        formControlName="fullname" 
                        class="form-control" 
                        id="fullname" 
                        [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                    @if(orderForm.get('fullname')!.invalid &&
                        orderForm.get('fullname')!.touched) {
                        <div class="invalid-feedback">
                            Full name is required.
                        </div>
                    }                        
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" 
                        formControlName="email" 
                        class="form-control" 
                        id="email" 
                        [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                    @if(orderForm.get('email')!.invalid 
                        && orderForm.get('email')!.touched) {
                            <div
                                class="invalid-feedback">
                                {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc' }}
                            </div>
                        }
                    
                </div>
                
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="phone_number"                         
                        placeholder="Số điện thoại" 
                        required
                        id="phone" 
                        [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
                        @if(orderForm.get('phone_number')!.invalid 
                            && orderForm.get('phone_number')!.touched) {
                            <div class="invalid-feedback">
                                Phone number is required and must be at least 6 characters.
                            </div>
                        }                        
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="address"                         
                        placeholder="Địa chỉ" 
                        required
                        id="address" 
                        [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
                    @if(orderForm.get('address')!.invalid 
                        && orderForm.get('address')!.touched) {
                    <div class="invalid-feedback">
                        Address is required and must be at least 5 characters.
                    </div>
                    }
                    
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Note</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="note"                                                 
                        placeholder="Ghi chú" 
                        required
                        id="note">
                </div>
                <div class="mb-3">
                    <label for="shippingMethod">Shipping method</label>
                    <select class="form-control" id="shippingMethod" 
                        formControlName="shipping_method">
                        <option value="express">Express</option>
                        <option value="normal">Normal</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod">Payment method</label>
                    <select class="form-control" id="paymentMethod"
                        formControlName="payment_method">                     
                        <option value="cod">Cash on Delivery (COD)</option>
                        <option value="other">TOther payment</option>
                    </select>
                </div>
            <!-- </form> -->
        </div>        
        <div class="col-md-7">
            <h2 class="product-order">Ordered items</h2>
            <table>
                <tbody>
                    <ng-container *ngFor="let item of cartItems; let i = index">
                      <tr>
                        <td>
                          <div class="product-info">
                            <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                            <span class="product-name">{{ item.product.name }}</span>
                          </div>
                        </td>
                        <td>
                          <div class="product-quantity">
                            <div class="border-wrapper">
                              <button (click)="decreaseQuantity(i)">-</button>
                              {{ item.quantity }}
                              <button (click)="increaseQuantity(i)">+</button>
                            </div>
                          </div>
                        </td>
                        <td>{{ item.product.price | number:'1.2-2' }}</td>
                        <td>{{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>
                        <td>
                          <button class="btn btn-danger" (click)="confirmDelete(i)">
                            Xóa
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
              
        </table>   
            <div class="text-start mt-3">
                <h4 class="header-text text-end ">Total price: {{ totalAmount | number:'1.2-2'}} đ</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Enter coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" 
                        formControlName="couponCode" 
                        placeholder="Nhập coupon">
                    <button 
                        (click)="applyCoupon()"
                        class="btn btn-gradient" type="button">Apply</button>
                </div>
            </div>    
            @if(couponDiscount > 0) {
                <div class="text-start mt-3">
                    <h6 class="header-text text-end ">You've been discounted: {{ couponDiscount | number:'1.2-2'}} đ</h6>
                </div>
            }
            <div class="text-start mt-3">
                <button 
                    (click)="placeOrder()"
                    class="btn btn-gradient" type="button">Place order</button>
            </div>
        </div>
    </div>   
</form> 
</div>
<app-footer></app-footer>
