<app-header></app-header>
<div class="container mx-auto">
  <div class="intro-section my-8">
    <!-- Nội dung phần giới thiệu có thể thêm vào đây -->
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div>
      <!-- Swiper Slider -->
      <!-- <swiper-container
        loop="true"
        navigation="true"
        pagination="true"
        autoplay='{"delay": 3000}'
        effect="coverflow"
        grabCursor="true"
        centeredSlides="true"
        slidesPerView="auto"
        coverflowEffect='{"rotate": 50, "stretch": 0, "depth": 100, "modifier": 1, "slideShadows": true}'>
        <ng-container *ngFor="let image of product?.product_images">
          <swiper-slide>
            <img [src]="image?.image_url" class="w-full object-cover" alt="Product Image" />
          </swiper-slide>
        </ng-container>
      </swiper-container> -->

      <div class="col-md-6">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            @for(image of product?.product_images;
                track image.image_url;let i = $index;) {
              <div 
                 class="carousel-item" 
                  [ngClass]="{'active': i === currentImageIndex}">
                <div class="square-image">
                  <img [src]="image.image_url" class="product-image" alt="Product Image">
                </div>
              </div>  
            }            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" 
                  data-bs-slide="prev" (click)="previousImage()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" 
                  data-bs-slide="next" (click)="nextImage()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- Thumbnails -->
      <div class="flex gap-2 mt-4">
        <ng-container *ngFor="let image of product?.product_images; let i = index">
          <div
            class="w-20 h-20 border-2 border-gray-200 cursor-pointer"
            [ngClass]="{ 'border-blue-500': i === currentImageIndex }"
            (click)="thumbnailClick(i)">
            <img [src]="image.image_url" class="w-full h-full object-cover" alt="Thumbnail Image" />
          </div>
        </ng-container>
      </div>
    </div>

    <div class="product-details space-y-4">
      <h2 class="text-4xl font-bold">{{ product?.name }}</h2>
      <p><span class="font-bold text-xl">Price:</span> {{ product?.price | number: '1.0-2' }} VND</p>
      <p><span class="font-bold text-xl">Total Price:</span> {{ getTotalPrice() | number: '1.0-2' }} VND</p>
      <h2 class="font-bold text-xl">Description</h2>
      <p>{{ product?.description }}</p>

      <div class="space-y-2">
        <button class="bg-blue-500 text-white py-2 px-4 rounded"  (click)="addToCart()">Add to cart</button>
        <button class="bg-green-500 text-white py-2 px-4 rounded" (click)="buyNow()" >Buy now</button>
      </div>

      <div class="product-quantity flex items-center gap-2 mt-4">
        <button class="px-4 py-2 bg-gray-300" (click)="decreaseQuantity()">-</button>
        <input type="text" class="border text-center w-12" [value]="quantity" />
        <button class="px-4 py-2 bg-gray-300" (click)="increaseQuantity()">+</button>
      </div>
    </div>
  </div>

  <div class="product-review my-8">
    <section>
      <h1 class="font-bold text-2xl mb-4">Review</h1>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div>
          <div *ngIf="comments" class="space-y-4">
            <ng-container *ngFor="let cmt of comments; trackBy: trackByCommentId">
              <div>
                <p class="font-bold">{{ cmt.user.fullname }}</p>
                <p>{{ cmt.content }}</p>
              </div>
            </ng-container>
          </div>

          <div class="mt-6">
            <label for="comment" class="font-bold block mb-2">Comment</label>
            <input type="text" class="border w-full py-2 px-4 rounded" [(ngModel)]="insertCommentDTO.content" />
            <button class="bg-blue-500 text-white py-2 px-4 rounded mt-4" (click)="insertComment()">Comment</button>
          </div>
        </div>

        <div>
          <div class="flex items-center space-x-4 mb-4">
            <p class="text-2xl font-bold text-yellow-500">4.2</p>
            <div class="flex space-x-1 text-yellow-500">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text-blue-500">1001 reviews</p>
          </div>

          <!-- Progress bars for star ratings -->
          <div class="space-y-2">
            <div class="flex items-center">
              <span class="w-4">5</span>
              <div class="w-full h-2 bg-gray-200 mx-2">
                <div class="bg-yellow-500 h-full" style="width: 53%;"></div>
              </div>
              <span>53%</span>
            </div>
            <div class="flex items-center">
              <span class="w-4">4</span>
              <div class="w-full h-2 bg-gray-200 mx-2">
                <div class="bg-yellow-500 h-full" style="width: 29%;"></div>
              </div>
              <span>29%</span>
            </div>
            <!-- Các mức đánh giá khác -->
          </div>
        </div>
      </div>
    </section>

    <h2 class="text-2xl text-white mt-8">Related</h2>
    <app-list-product [categoryId]="product?.category_id"></app-list-product>
  </div>
</div>
<!-- <app-footer></app-footer> -->
