
<div class="list-product">
    <div class="container flex flex-col">
      @for(category of categories; track category.id){
        @if(category.id == categoryId){
          <h2 class="title">{{category.name}}</h2>
        }
      }
      <swiper-container class="row"
      [slidesPerView] = "slidesPerView"
      navigation = "true"
      spacebetween = "true"
      pagination-clickable = "true"
      pagination = "true"
      autoplay='{"delay": 5000}'
      >
      @for(product of products; track product.id) {
          @if (product.category_id == categoryId){
            <swiper-slide class="col-lg-4 col-md-6">
              <div class="product-item" (click)="onProductClick(product.id)">
                  <img [src]="product.url" alt="Product Image" class="product-image">
                  <h3 class="product-name text-xl font-bold">{{ product.name }} </h3>
                  <div class="product-price absolute left-2 bottom-2 w-full p-4 mb-2">
                    <p>{{ product.price | number:'1.0-2' }} VND</p>
                  </div>                
              </div>
            </swiper-slide>  
          }
      }        
      </swiper-container>
    </div>
</div>
