<app-header></app-header>
<div class="container">
    <h1 style="margin-top: 20px;">My ordered</h1>
    <hr  class="line mt-4">

    <div class="col-md-12">
        <table>
            <thead>
                <th>Product</th>
                <th>Phone Number</th>
                <th>Payment method</th>
                <th>Status</th>
                <th>Total money</th>
            </thead>
            
                @for(item of orders; track  item){
                    <tr >
                        <td (click)="toOrderDetail(item.id)"><img class="product-images" [src]="item.order_details[0].thumbnail" alt=""><span>{{item.order_details[0].product_name}}</span></td>
                        <td>{{item.phone_number}} </td>
                        <td>{{item.payment_method}} </td>
                        <td>{{item.status}} </td>
                        <td>{{item.total_money| number:'1.2-2' }} </td>
                    </tr>

                }
        </table>
        

    </div>
</div>

<app-footer></app-footer>